#sideNav {
    padding-top: 4rem;
    height: 100%;
    position: fixed;
    width: var(--sidenav-width);
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    background-color: var(--bg-color);

    hr {
        width: 0;
        transition: all 0.3s ease;
    }

    .not-logged-in {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        li {
            display: flex;
            align-items: center;
            gap: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            overflow: hidden;

            &:hover {
                .nav-btn {
                    color: var(--primary-color) !important;
                }
            }

            .nav-btn {
                color: var(--text-color-light);
                text-decoration: none;
                width: 100% !important;
                padding: 0.5rem 0.8rem;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1.1rem;
                font-size: 0.95rem;
                transition: all 0.3s ease;
                overflow: hidden;
                text-overflow: clip;
                white-space: nowrap;

                iconify-icon {
                    font-size: 1.3rem;
                }
            }
        }

        .active {
            background-color: var(--button-bg-color);

            .nav-btn {
                color: white !important;
            }

            &:hover {
                .nav-btn {
                    color: white !important;
                }
            }
        }
    }

    .nav-heading-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        hr {
            width: 0;
        }

    }

    .nav-heading {
        font-size: 1rem;
        font-weight: bold;
        color: var(--text-color-light);
        transition: all 0.3s ease;
        text-overflow: clip;
    }
}

.sidebar-playlist-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;

    .playlist-card {
        display: flex;
        gap: 1rem;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 0.5rem;

        &:hover {
            background-color: var(--primary-color-200);
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 5px;
            transition: all 0.3s ease;
        }

        .playlist-info {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .playlist-title {
                font-size: 0.95rem;
                font-weight: 600;
                color: var(--text-color);
            }

            .no-of-songs {
                font-size: 0.8rem;
                color: var(--text-color-light);
            }
        }

        p {
            font-size: 0.9rem;
            color: var(--text-color-light);
        }
    }
}

#topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100% !important;
    height: 4rem;
    z-index: 1;
    transition: all 0.3s ease;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--bg-color);

    .login-signup-btn-container {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0 1rem;

        button {
            border-radius: 2rem;
        }

    }


    .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 1rem;

        .logo-container {
            display: flex;
            justify-content: center;
            width: calc(var(--sidenav-width) - 5rem);
            height: 4rem;

            a {
                background: var(--logo-image) no-repeat center center;
                background-size: cover;
                width: 100%;
                height: 100%;
                transition: all 0.5s ease-in-out;
            }
        }

        #collapseExpandSidebar {

            i {
                font-size: 1.2rem;
            }
        }
    }

    .search-container {
        display: flex;
        align-items: center;
        width: 20vw;
        ;

        .search-form {
            width: 100%;
        }

        .form-group {
            border: 1px solid #a8a8a8;
            border-radius: 2rem;
            overflow: hidden;

            input {
                border: none;
                outline: none;
                width: 100%;
                padding: 0 0 0 1rem;
                transition: all 0.3s ease;
            }

            &:has(input:focus) {
                border: 1px solid var(--primary-color) !important;

                button {
                    color: var(--primary-color);
                }
            }

            button[type="reset"] {
                display: none;

            }

            &:has(input:not(:placeholder-shown)) {
                button[type="reset"] {
                    display: flex;
                }
            }

            button {
                padding-right: 0.5rem;
            }
        }

    }

    .right {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        #uploadMusicShowBtn,
        .dark-mode-btn,
        .notification-btn,
        .profile-btn {
            padding: 0.5rem;
            background-color: transparent;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            transition: all 0.3s ease;
            font-size: 1rem;
            color: var(--text-color-light);
            position: relative;
            --unreadNotificationMark: none;

            &:hover {
                color: var(--primary-color);
            }

            &.active {
                color: var(--primary-color);
            }
        }


        .profile-btn {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            transition: all 0.3s ease;

            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;
            }

            &:hover {
                transform: scale(1.1);
            }
        }


        .notification-btn::after {
            content: "";
            position: absolute;
            top: 5px;
            right: 5px;
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--primary-color);
            color: white;
            font-size: 0.7rem;
            border-radius: 50%;
            display: var(--unreadNotificationMark);
        }
    }

    #collapseExpandSidebar {
        font-size: 1.1rem;
        transform: rotate(180deg);
        transition: all 0.5s ease;
        color: var(--text-color-light);
    }

    #notificationWindow {
        position: fixed;
        top: 4rem;
        right: 1rem;
        width: 25%;
        max-height: 0;
        background-color: var(--bg-color-10);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        overflow-y: hidden;
        z-index: 1;
        /* transition: all 0.1s;
         */
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        hr {
            border: 1px solid #e0e0e0;
        }

        .notification-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;

            h3 {
                font-size: 1.3rem;
                color: var(--text-color);
            }

            .mark-all-as-read {
                font-size: 0.95rem !important;
                cursor: pointer;
                transition: all 0.2s ease;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0;

                iconify-icon {
                    font-size: 1.1rem;
                }

                &:hover {
                    color: var(--primary-color) !important;
                }
            }
        }

        .notification-body {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;

            /* gap: 1rem;
             */
            .no-notifications {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.2rem;
                height: 100%;
                font-size: 1.2rem;
                color: #a8a8a8;
                padding: 1rem;

                iconify-icon {
                    font-size: 3rem;
                }
            }

            .notification-card {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                align-items: center;
                padding: 1rem;
                border-radius: 5px;
                transition: all 0.3s ease;
                cursor: pointer;
                position: relative;

                &:hover {
                    background-color: var(--card-hover-color);
                }

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .notification-info {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1rem;
                    color: var(--button-color);

                    iconify-icon {
                        background-color: var(--primary-color-100);
                        border-radius: 50%;
                        padding: 0.5rem;
                        color: var(--primary-color);
                    }

                    .notification-details {
                        display: flex;
                        flex-direction: column;
                        gap: 0.2rem;

                        .notification-message {
                            font-weight: bold;
                            color: var(--button-color);
                        }

                        .notification-time {
                            font-size: 0.9rem;
                            color: var(--button-color);
                        }
                    }
                }

                #clearNotification {
                    font-size: 1.1rem;
                    color: var(--text-color-light);
                    cursor: pointer;
                    transition: all 0.3s ease;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;

                    &:hover {
                        color: #ff0000;
                    }
                }
            }

            .notification-card[data-readStatus="0"] {
                .notification-message {
                    color: var(--primary-color-800) !important;
                    font-weight: bold;
                }
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .openNotificationWindow {
        height: max-content;
        max-height: 80% !important;
        padding-bottom: 0.5rem;

        .notification-body {
            overflow-y: auto;
        }
    }

    #profileWindow {
        position: fixed;
        top: 4rem;
        right: 1rem;
        width: 10%;
        max-height: 0;
        background-color: var(--bg-color-10);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        z-index: 1;
        /* transition: all 0.1s;
         */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        overflow: hidden;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 0.5rem;
            width: 100%;

            li {
                display: flex;
                align-items: center;
                gap: 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                width: 100%;
                margin: 0;

                &:hover {
                    a {
                        color: var(--primary-color) !important;
                    }
                }

                a {
                    color: var(--text-color-light);
                    text-decoration: none;
                    width: 100%;
                    padding: 0.5rem 0.8rem;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 1.1rem;
                    font-size: 0.95rem;
                    transition: all 0.3s ease;
                    width: 100%;

                    iconify-icon {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .openProfileWindow {
        max-height: 30% !important;
    }

    #loginForm {
        width: 42vh;
        height: max-content;
        color: var(--text-color);
        text-align: center;

        .max-width {
            padding: 1.5rem;
            gap: 3rem;
            height: max-content;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        form>*:first-child {
            margin-bottom: 1.5rem;
        }

        #togglePasswordVisibility {
            padding: 0;
            right: 0;
            top: -0.2rem;

            iconify-icon {
                pointer-events: none;
            }
        }

        .forgot-password-show {
            color: var(--primary-color);
            cursor: pointer;
        }
    }

    #signupForm {
        width: 42vh;
        height: max-content;
        color: var(--text-color);
        text-align: center;

        .max-width {
            position: relative;
            padding: 1.5rem;
            gap: 3rem;
            height: max-content;
            overflow: hidden;

        }


        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2.5rem;
            width: 100%;
            align-items: center;
        }

        button[type="submit"] {
            width: 100%;
        }

        /* .signup-form {
            display: none;
        } */


        .personal-info {
            display: none;

            .form-group {
                gap: 1.5rem;
            }

            .custom-file-upload {
                border-radius: 50%;
                overflow: hidden;
            }

            .full-name {
                display: flex;
                gap: 1rem;
            }


            .date-of-birth {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        .otp-verify {
            display: none;
        }

    }

    .otp-verify {

        .resend {
            color: var(--primary-color);
            cursor: pointer;
            padding: 0.2rem;
            width: 3rem;
        }

        .resend-otp {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        .otp-group {
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;
            border: none;
        }

        .otp-group input {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1.5rem;
            border-bottom: 1px solid #000000;
            border-radius: 0;
            padding: 0.2rem;
            appearance: none !important;

        }

        .otp-group input:focus {
            border-bottom: 1px solid var(--primary-color);
        }
    }

    #resetPassword {
        width: 42vh;
        height: max-content;
        color: var(--text-color);
        text-align: center;

        .max-width {
            padding: 1.5rem;
            gap: 3rem;
            height: max-content;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            input {
                width: 100%;
            }
        }

        form>*:first-child {
            margin-bottom: 1.5rem;
        }

        #togglePasswordVisibility {
            padding: 0;
            right: 0;
            top: -0.2rem;

            iconify-icon {
                pointer-events: none;
            }
        }

        .otp-verify {
            display: none;
        }

        .reset-password {
            display: none;
        }

        /* 
        .get-email {
            display: none;
        } */
    }

    #loginForm a,
    #signupForm a {
        color: var(--primary-color);
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            color: var(--primary-color-800);
        }
    }

}

.forms-container {

    width: 100%;
}

.collapse {
    width: var(--collapsed-sidenav-width) !important;

    .logo-container a {
        background: url(../images/logo.png) no-repeat center center !important;
        background-size: contain !important;
    }

    ul li a {
        height: 2.5rem;
    }

    .nav-heading,
    .nav-text {
        display: none;
    }

    hr {
        width: calc(100% - 2rem) !important;
        margin: 0 auto;
    }

    .sidebar-playlist-container {
        justify-content: center;
        align-items: center;

        .playlist-info {
            display: none;
        }

        .playlist-card {
            justify-content: center;

            img {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        .playlist-card:hover {
            background: none !important;

            img {
                transform: scale(1.1);
            }
        }

        .show-create-playlist-dialog-btn {
            width: 2.5rem;
            height: 2.5rem;

            iconify-icon {
                font-size: 1.2rem;
            }
        }
    }
}

.collapse~#topNav {
    #collapseExpandSidebar {
        transform: rotate(0deg);
    }
}

.collapse~main {
    margin-left: calc(var(--collapsed-sidenav-width));
    width: calc(100% - var(--collapsed-sidenav-width));
}


#musicControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
    position: fixed;
    bottom: -10rem;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    gap: 1rem;
    background-color: var(--bg-color-10);
    z-index: 99;
    height: 10%;


    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .full-screen-show {
        display: none;
    }

    #seekbar::before {
        content: "";
        width: var(--seek-before-width);
        height: 5px;
        background-color: var(--primary-color);
        position: absolute;
        border-radius: 5rem;
    }

    #seekbar::-webkit-slider-thumb {
        display: var(--thumb-display, none);
    }

    button {
        padding: 0.5rem;
        background-color: transparent;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        transition: all 0.3s ease;
        font-size: 1rem;
        color: var(--text-color-light);

        &:hover {
            color: var(--primary-color) !important;
        }
    }

    .left {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        width: 20%;
        color: var(--text-color);

        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: calc(2rem - 1.5rem);
            margin-right: 1rem;
        }
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        width: 20%;
        gap: 2rem;


        .volume-control {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            transition: none;
            position: relative;
            padding: 0.2rem;
            justify-content: center;

            .volume-slider {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
                padding: 0;
                transition: all 0.1s;
            }

            #volume {
                appearance: none;
                transition: all 0.1s ease;
                position: relative;
                padding: 0;
                width: 100px;
            }

            #volume::-webkit-slider-thumb {
                width: 0;
                height: 0;
                transition: all 0.1s ease;
            }

            #volume::after {
                position: absolute;
                bottom: 0;
                content: "";
                width: var(--volume-before-width, 100%);
                background-color: var(--primary-color);
                border-radius: 1.5rem;
                height: 5px;

            }

            &:hover {
                #volume::-webkit-slider-thumb {
                    width: 13px;
                    height: 13px;
                }

            }
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 50%;

        .music-control-btns {
            display: flex;
            gap: 1.5rem;
            align-items: center;

            .play-pause-btn {
                font-size: 2rem;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                    background: transparent;
                }
            }
        }

        .progress-bar {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 0.95rem;
            width: 100%;
        }
    }

}

.expanded {
    height: 100% !important;
    padding: 3rem 5rem !important;


    &~#topNav {
        display: none;
    }

    body::-webkit-scrollbar,
    body::-webkit-scrollbar-thumb {
        display: none;
    }

    .full-screen-show {
        display: flex !important;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .controls {
        bottom: 1rem !important;
        position: relative;
        /* flex-direction: column-reverse; */
        /* padding: 2rem 3rem; */

        .left {
            position: absolute;
            bottom: 15vh;
            width: 100% !important;

            .music-cover {
                width: 10rem !important;
                height: 10rem !important;
            }

            .song-info {
                display: flex;
                flex-direction: column;
                min-width: max-content;
                gap: 1rem !important;

                .music-title {
                    font-size: 2.5rem;
                    font-weight: bold;
                    font-family: Chau Philomene One !important;
                    width: 100% !important;
                    letter-spacing: 0.1rem;
                }

                .music-artist {
                    font-size: 1.5rem !important;
                    color: var(--text-color-light);
                }
            }
        }

        .center {
            width: 100% !important;
            flex-direction: column-reverse !important;
            justify-content: space-between !important;
            gap: 2rem !important;

            .music-control-btns {
                gap: 2rem !important;
            }
        }

        .right {
            justify-content: flex-end !important;
            position: absolute;
            right: 0;
            bottom: 0;
            /* bottom: 2.5rem;
            right: 2rem; */

        }

        iconify-icon {
            font-size: 1.7rem;
        }


    }

    .playing-on {
        position: absolute;
        top: 1rem;
        left: 2rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        opacity: 0.5;

        p {
            font-size: 1.5rem;
            color: var(--text-color-light);
            font-weight: bold;
        }

        img {
            width: 2.5rem;
        }
    }

    .lyrics-container {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 20%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transition: all 0.3s ease;

        .lyric {
            font-size: 2.2rem;
            font-weight: 100;
            font-family: Palanquin Dark;
        }

        .current {
            color: var(--primary-color);
        }

        .previous {
            color: var(--text-color-light);
            opacity: 0.5;
            font-size: 2rem;
        }

        .next {
            color: var(--text-color-light);
            opacity: 0.5;
            font-size: 2rem;
        }
    }
}



main {
    margin-left: calc(var(--sidenav-width));
    margin-bottom: 10vh;
    transition: all 0.3s ease;
    width: calc(100% - var(--sidenav-width));
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color);

    #featuredTrending {
        display: flex;
        max-width: 100%;
        position: relative;
        justify-content: space-between;
        gap: 5rem;
        height: max-content;

        .featured-banner {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 27%, rgba(255, 107, 58, 0.9) 100%), url(../images/bardali.jpg) no-repeat top center/cover;
            border-radius: 1rem;
            width: 70%;
            padding: 0 5rem;

            .start-play-music {
                background-color: white;
                color: black !important;
            }

            .add-to-playlist-btn {
                background-color: white;
                color: black !important;
                border: none;
            }

            .banner-image {
                height: 100%;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .banner-content {
                width: 40%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .song-info {
                    h1 {
                        font-size: 5rem;
                        color: white;
                        font-family: Carattere;
                        letter-spacing: 0.3rem;
                        height: min-content;

                    }

                    .artist-name {
                        font-size: 1rem;
                        color: white;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                        display: flex;
                        gap: 0.5rem;
                        font-family: 'Poppins', sans-serif;
                        align-items: center;
                    }
                }
            }
        }
    }

    .trending-songs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        width: 25%;
        height: 100%;
        position: relative;

        .trending-songs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 0.8rem;
            height: 100%;
        }
    }
}

#recentTopArtist {
    display: grid;
    grid-template-columns: 70% 25%;
    column-gap: 5rem;
    row-gap: 2rem;
    width: 100%;
    /* .recently-played-songs {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: min-content;
    } */

    .top-album {
        grid-row: 1 / 4;
        /* Span from row 1 to row 3 (i.e., cover both rows) */
        grid-column: 2;
        /* Occupy the entire second column */
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: 100%;
        position: relative;

        .top-album-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            border-radius: 1rem;
            padding: 1rem;
            gap: 1rem;
            width: 100%;
            position: relative;

            .playlist-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.2rem;
                width: 100%;
                position: absolute;
                padding: 1rem 2rem;

                .playlist-title {
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: #ffffff;
                }

                .no-of-songs {
                    font-size: 0.9rem;
                    color: #ffffff;
                }

                .artist-name {
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                }

            }

            .save-playlist-btn {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem;
                color: #ffffff !important;
                border: 1px solid #ffffff;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                border-radius: 50%;

                iconify-icon {
                    font-size: 1.3rem;
                }
            }

            .song-list-container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 1rem;

                .song-list {
                    justify-content: space-around;

                }

                .song-list::after {
                    display: none;
                }

                .song-info {
                    gap: 0.2rem;

                    .song-number {
                        font-size: 0.9rem;
                    }

                    .music-title {
                        font-size: 1rem;
                        font-weight: bold;
                    }

                    .artist-name {
                        font-size: 0.9rem;
                        color: var(--text-color-light);
                    }
                }

            }

            .playlist-image {
                width: 100%;
                border-radius: 1rem;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                }
            }

            .playlist-image::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.8099614845938375) 21%, rgba(0, 0, 0, 0) 100%);
            }
        }


        iconify-icon {
            font-size: 2rem;
        }
    }
}


#uploadMusic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1rem;

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;
        width: 70%;
        height: 100%;

        .uploads-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            width: 60%;
            height: 100%;

            .music-upload-area {
                border: 2px dashed var(--text-color-light);
                border-radius: 1rem;
                width: 100%;
                min-height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;

                .music-upload-text {
                    font-size: 1.2rem;
                    color: var(--text-color-light);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                }


                iconify-icon {
                    font-size: 3rem;

                }
            }

            .image-upload-area,
            .lyrics-upload-area {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;

                p {
                    font-size: 1.2rem;
                    color: var(--text-color-light);
                }

                .info-text {
                    font-size: 0.95rem;
                    color: var(--text-color-light);

                    a {
                        color: var(--primary-color);
                    }
                }
            }

            .custom-file-upload {
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                cursor: pointer;
                width: max-content;
            }

        }

        .details-container {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            width: 70%;
        }
    }
}

#addToPlaylistModal {
    position: absolute;
    width: max-content;
    height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: var(--bg-color-10);
    z-index: 999;
    padding: 0;
    border-radius: 10px;
    min-width: 10rem;
}

#createPlaylistDialog {
    width: 30%;
    height: max-content;
    color: var(--text-color);

    .max-width {
        gap: 3rem !important;
        padding: 1rem;
    }

    .forms-container {
        height: 100%;
        width: 100%;

        form {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 100%;
            height: 100%;

        }
    }
}

#addToPlaylistModal {
    .playlist-btn {
        &:hover {
            background-color: var(--primary-color-200);
        }
    }
}