#sideNav {

    height: 100%;
    position: fixed;
    width: var(--sidenav-width);
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;

    hr {
        width: 0;
        transition: all 0.3s ease;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        height: 100px;

        a {
            background: url(../images/logo-title-side.svg) no-repeat center center;
            background-size: cover;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        li {
            display: flex;
            align-items: center;
            gap: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            overflow: hidden;

            &:hover {
                a {
                    color: var(--primary-color) !important;
                }
            }

            a {
                color: #777777;
                text-decoration: none;
                width: 100%;
                padding: 0.5rem 0.8rem;
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: 1.1rem;
                font-size: 0.95rem;
                transition: all 0.3s ease;
                overflow: hidden;
                text-overflow: clip;
                white-space: nowrap;

                iconify-icon {
                    font-size: 1.3rem;
                }
            }
        }

        .active {
            background-color: var(--primary-color);

            a {
                color: white;
            }

            &:hover {
                a {
                    color: white !important;
                }
            }
        }
    }

    .nav-heading {
        font-size: 1rem;
        font-weight: bold;
        color: #777777;
        transition: all 0.3s ease;
    }
}

.sidebar-playlist-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;

    .playlist-card {
        display: flex;
        gap: 1rem;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 0.5rem;

        &:hover {
            background-color: var(--primary-color-200);
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 5px;
            transition: all 0.3s ease;
        }

        .playlist-info {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .playlist-title {
                font-size: 0.95rem;
                font-weight: 600;
                color: #333333;
            }

            .no-of-songs {
                font-size: 0.8rem;
                color: #777777;
            }
        }

        p {
            font-size: 0.9rem;
            color: #777777;
        }
    }
}

#topNav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 1rem;
    height: 60px;
    z-index: 1;
    margin-left: var(--sidenav-width);
    transition: all 0.3s ease;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;

    .right {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;

        button {
            padding: 0.5rem;
            background-color: transparent;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            transition: all 0.3s ease;
            font-size: 1rem;
            color: #777777;

            &:hover {
                color: var(--primary-color);
            }

            &.active {
                color: var(--primary-color);
            }
        }

        .profile-btn {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            transition: all 0.3s ease;

            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;
            }

            &:hover {
                transform: scale(1.1);
            }
        }


        .notification-btn::after {
            content: "";
            position: absolute;
            top: 5px;
            right: 5px;
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--primary-color);
            color: white;
            font-size: 0.7rem;
            border-radius: 50%;
            display: var(--unreadNotificationMark);
        }
    }

    #collapseExpandSidebar {
        font-size: 1.1rem;
        transform: rotate(180deg);
        transition: all 0.5s ease;
        color: #777777;
    }

    #notificationWindow {
        position: fixed;
        top: 4rem;
        right: 1rem;
        width: 20%;
        max-height: 0;
        background-color: #f8f9fa;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        overflow-y: hidden;
        z-index: 1;
        /* transition: all 0.1s;
         */
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        hr {
            border: 1px solid #e0e0e0;
        }

        .notification-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;

            h3 {
                font-size: 1.3rem;
                color: #333333;
            }

            .mark-all-as-read {
                font-size: 0.95rem !important;
                cursor: pointer;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0;

                iconify-icon {
                    font-size: 1.1rem;
                }

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        .notification-body {
            display: flex;
            flex-direction: column;
            height: 100%;

            /* gap: 1rem;
             */
            .no-notifications {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.2rem;
                height: 100%;
                font-size: 1.2rem;
                color: #a8a8a8;
                padding: 1rem;

                iconify-icon {
                    font-size: 3rem;
                }
            }

            .notification-card {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                align-items: center;
                padding: 1rem;
                border-radius: 5px;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    background-color: #ececec;
                }

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .notification-info {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1rem;
                    color: #7c7c7c;

                    iconify-icon {
                        background-color: var(--primary-color-100);
                        border-radius: 50%;
                        padding: 0.5rem;
                        color: var(--primary-color);
                    }

                    .notification-details {
                        display: flex;
                        flex-direction: column;
                        gap: 0.2rem;

                        .notification-message {
                            font-weight: bold;
                            color: #777777;
                        }

                        .notification-time {
                            font-size: 0.9rem;
                            color: #777777;
                        }
                    }
                }

                #clearNotification {
                    font-size: 1.1rem;
                    color: #777777;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;

                    &:hover {
                        background-color: #ff000031;
                        color: #db3e3e;
                    }
                }
            }

            .notification-card[data-readStatus="0"] {
                .notification-message {
                    color: #272727 !important;
                    font-weight: bold;
                }
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        #seeAllNotifications {
            margin: 0 1rem;
        }
    }

    .openNotificationWindow {
        height: max-content;
        max-height: 80% !important;
        padding-bottom: 0.5rem;

        .notification-body {
            overflow-y: auto;
        }
    }

    #profileWindow {
        position: fixed;
        top: 4rem;
        right: 1rem;
        width: 10%;
        max-height: 0;
        background-color: #f8f9fa;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        z-index: 1;
        /* transition: all 0.1s;
         */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        overflow: hidden;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 0.5rem;
            width: 100%;

            li {
                display: flex;
                align-items: center;
                gap: 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                width: 100%;
                margin: 0;

                &:hover {
                    background-color: var(--primary-color-200);
                }

                a {
                    color: #777777;
                    text-decoration: none;
                    width: 100%;
                    padding: 0.5rem 0.8rem;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 1.1rem;
                    font-size: 0.95rem;
                    transition: all 0.3s ease;
                    width: 100%;

                    iconify-icon {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .openProfileWindow {
        max-height: 30% !important;
    }
}

.collapse {
    width: var(--collapsed-sidenav-width) !important;

    .logo-container a {
        background: url(../images/logo.png) no-repeat center center !important;
        background-size: contain !important;
    }

    ul li a {
        height: 40px;
    }

    .nav-heading {
        display: none;
    }

    hr {
        width: calc(100% - 2rem) !important;
        margin: 0 auto;
    }

    .sidebar-playlist-container {
        .playlist-info {
            display: none;
        }

        .playlist-card {
            justify-content: center;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .playlist-card:hover {
            background: none !important;

            img {
                transform: scale(1.1);
            }
        }
    }
}

.collapse~#topNav {
    margin-left: var(--collapsed-sidenav-width);

    #collapseExpandSidebar {
        transform: rotate(0deg);
    }
}

.collapse~main {
    margin-left: calc(var(--collapsed-sidenav-width));
    width: calc(100% - var(--collapsed-sidenav-width));
}



#musicControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    position: fixed;
    bottom: 1rem;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    gap: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    z-index: 1;
    bottom: -10rem;
    margin: 0 1rem;
    width: calc(100% - 2rem);
    border-radius: 1rem;



    #seekbar::before {
        content: "";
        width: var(--seek-before-width);
        height: 5px;
        background-color: var(--primary-color);
        position: absolute;
        border-radius: 5rem;
    }

    #seekbar::-webkit-slider-thumb {
        display: var(--thumb-display, none);
    }

    button {
        padding: 0.5rem;
        background-color: transparent;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        transition: all 0.3s ease;
        font-size: 1rem;

        &:hover {
            background-color: var(--primary-color-200);
        }
    }

    .left {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        width: 20%;

        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: calc(2rem - 1.5rem);
            margin-right: 1rem;
        }
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        width: 20%;
        gap: 2rem;

        .volume-control {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            transition: none;
            width: max-content;
            position: relative;
            height: max-content;
            padding: 0.5rem;
            justify-content: center;

            .volume-slider {
                position: absolute;
                bottom: 0;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f8f9fa;
                border-radius: 1rem;
                padding: 0;
                transition: all 0.1s;
                z-index: -1;
            }

            #volume {
                appearance: none;
                transition: all 0.1s ease;
                position: relative;
                padding: 0;
                transform: rotate(-90deg);
                width: 0;
            }

            #volume::-webkit-slider-thumb {
                width: 0;
                height: 0;
                transition: all 0.1s ease;
            }

            #volume::after {
                content: "";
                width: 0;
                background-color: var(--primary-color);
                border-radius: 1.5rem;
            }

            &:hover {
                #volume {
                    width: 100px;
                    bottom: 1rem;
                }

                #volume::-webkit-slider-thumb {
                    width: 13px;
                    height: 13px;
                }

                .volume-slider {
                    /* top: -5.5rem;
                     left: -3rem;
                     */
                    padding: 0;
                    height: calc(100px + 4rem);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }

                #volume::after {
                    width: var(--volume-before-width, 100%);
                    height: 5px;
                    position: absolute;
                }

                & {
                    height: max-content;
                }
            }
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 50%;

        .music-control-btns {
            display: flex;
            gap: 1.5rem;
            align-items: center;

            .play-pause-btn {
                font-size: 2rem;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                    background: transparent;
                }
            }
        }

        .progress-bar {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 0.95rem;
            width: 100%;
        }
    }
}

main {
    margin-left: calc(var(--sidenav-width));
    transition: all 0.3s ease;
    width: calc(100% - var(--sidenav-width));
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 7rem;

    #featuredTrending {
        display: flex;
        width: 100%;
        position: relative;
        justify-content: space-between;
        gap: 5rem;
        height: 45vh;

        .featured-banner {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            overflow: hidden;
            background-color: var(--primary-color-100);
            border-radius: 1rem;
            width: 80%;
            height: 100%;

            .banner-image {
                height: 100%;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .trending-text {
                position: absolute;
                font-size: 1.2rem;
                color: #333333;
                font-weight: bold;
                text-align: center;
                z-index: 1;
                top: 2rem;
                left: 2rem;
            }

            .banner-content {
                width: 40%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .song-info {
                    h1 {
                        font-size: 5rem;
                        color: #272727;
                        font-family: Bebas Neue;
                        letter-spacing: 0.3rem;
                        height: min-content;

                    }

                    .artist-name {
                        font-size: 1rem;
                        color: #585858;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                        display: flex;
                        gap: 0.5rem;
                        font-family: 'Poppins', sans-serif;
                        align-items: center;
                    }
                }
            }
        }
    }

    .trending-songs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        width: 30%;
        height: 100%;
        position: relative;

        .trending-songs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            height: 100%;
            padding: 1rem;
        }
    }
}

#recentTopArtist {
    display: flex;
    gap: 5rem;
    width: 100%;


    .recent-songs {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80%;
        height: 100%;
        position: relative;
        padding: 1rem;
    }

    .top-album {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30%;
        height: 100%;
        position: relative;

        .playlist-image {
            width: 100%;
            height: 50%;
            border-radius: 1rem;
            overflow: hidden;
            padding: 2rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }

        iconify-icon {
            font-size: 2rem;
        }
    }
}