input[type="range"] {
	appearance: none;
	height: 3px;
	border-radius: 0 !important;
	background-color: #dddddd;
	transition: all 0.3s;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	background-color: #ff7f11;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 5px #ff80116e;
}

.top-nav {
	background-color: #333;
	color: white;
	padding: 1rem;
}

.side-bar .logo {
	height: 5rem;
}

.side-bar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.side-bar {
	background-color: #ffffff;
	padding: 1rem 0;
	font-size: 20px;
	font-weight: bold;
	width: 14%;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.side-bar .nav-links {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	li {
		cursor: pointer;
		font-size: 1.05rem;
		font-weight: 400;
		line-height: 24px;
		list-style: none;
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 0.7rem;
	}

	a {
		text-decoration: none;
		color: #000;
	}
	.active {
		background-color: #ff80112f;
		color: white;
	}
}
.music-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	background-color: #ffffff;
	backdrop-filter: blur(10px);
	width: 100%;

	#seekbar {
		appearance: none;
		top: -10px;
		right: 0;
		width: 100%;
		height: 3px;
		margin: 0;
		padding: 0;
		border-radius: 0 !important;
		background-color: #dddddd;
		transition: all 0.3s;
		cursor: pointer;
	}
	#seekbar::after {
		content: "";
		width: var(--seek-before-width);
		height: 3px;
		background-color: #ff7f11;
		position: absolute;
	}

	#seekbar::before {
		content: "";
		width: var(--seek-after-width);
		height: 3px;
		background-color: #ff801177;
		position: absolute;
	}
	#seekbar::-webkit-slider-thumb {
		display: var(--thumb-display, none);
	}
	.controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 1rem;
		gap: 1rem;

		.center {
			display: flex;
			align-items: center;
			gap: 1rem;
			justify-content: space-between;
		}

		button {
			background: transparent;
			font-size: 1.2rem;
		}

		.play-pause-btn {
			color: #ff7f11;
		}
	}
	.left {
		display: flex;
		align-items: center;
		gap: 1rem;
		width: 15%;

		.song-info p {
			font-size: 0.9rem;
			color: #707070;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		img {
			width: 3rem;
			aspect-ratio: 1;
			object-fit: cover;
			border-radius: 10px;
		}
	}
	.right {
		display: flex;
		align-items: center;
		gap: 1rem;
		width: 15%;
		justify-content: space-between;

		.duration {
			font-size: 0.9rem;
			color: #707070;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
		.volume-control {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
		#volume {
			width: 100px;
		}
		#volume::after {
			content: "";
			width: var(--volume-before-width, 100px);
			height: 3px;
			background-color: #ff7f11;
			position: absolute;
		}
	}
}
