input[type="range"] {
	appearance: none;
	height: 4px;
	background-color: #dddddd;
	transition: all 0.3s;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	background-color: #ff7f11;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fffafa;
	color: rgb(0, 0, 0);
	padding: 1rem;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	position: sticky;
	top: 10px;

	.search-bar {
		display: flex;
		align-items: center;
		border-radius: 1rem;

		input {
			border: none;
			outline: none;
			padding: 0.5rem;
			border-radius: 1rem;
			font-size: 1rem;
		}
	}

	.profile-section {
		display: flex;
		align-items: center;
	}

	.profile-pic {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 1rem;
	}

	.profile-menu {
		display: none;
		position: absolute;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 0.3rem;
		top: 60px;
		right: 10px;
		background-color: white;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
		border-radius: 0.5rem;
		overflow: hidden;
	}

	.profile-section:hover .profile-menu {
		display: flex;
	}

	.profile-menu a {
		padding: 0.5rem 1rem;
		color: black;
		text-decoration: none;
	}

	.profile-menu a:hover {
		background-color: #f0f0f0;
	}
}

.side-bar .logo {
	height: 5rem;
}

.side-bar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.side-bar {
	background-color: #ffffff;
	padding: 1rem 0;
	font-size: 20px;
	font-weight: bold;
	width: 13vw;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-right: 1px solid #e0e0e0;

	nav {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.nav-links-title {
		font-size: 1rem;
		color: #000000;
		padding: 0.5rem;
	}
	.create-playlist {
		display: none !important;
	}
}

.side-bar .nav-links {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;

	a {
		text-decoration: none;
		color: #797979;
		font-weight: 400;
		cursor: pointer;
		font-size: 1rem;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem;
		border-radius: 10px;
		padding: 0.5rem;
		width: 100%;
		i {
			background-color: #4e4e4e;
			border-radius: 0.5rem;
			color: white;
			font-size: 0.9rem;
			width: 1.7rem;
			height: 1.7rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.active {
		a {
			color: #ff7f11;
			font-weight: 700;
		}
		i {
			background-color: #ff7f11;
		}
	}
}
main {
	margin-left: 14%;
	padding: 1rem;
	height: 120vh;
}
/* Music Controls*/
.music-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	backdrop-filter: blur(10px);
	width: 100%;
	box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
	height: 8.5vh;
	padding: 0 1rem;

	#seekbar {
		appearance: none;
		width: 100%;
		position: relative;
		border-radius: 5rem;
	}
	#seekbar::before {
		content: "";
		width: var(--seek-before-width, 0);
		height: 100%;
		background-color: #ff7f11;
		position: absolute;
		border-radius: 5rem;
	}

	#seekbar::-webkit-slider-thumb {
		display: var(--thumb-display, none);
	}

	.center {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 40%;
		gap: 0;

		.music-control-btns {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			gap: 1rem;
		}

		.progress-bar {
			display: flex;
			align-items: center;
			gap: 1rem;
			width: 100%;
		}
		.duration {
			font-size: 0.9rem;
			color: #707070;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		button {
			background: transparent;
			font-size: 1.2rem;
		}

		.play-pause-btn {
			font-size: 2rem;
			padding: 0;
		}
	}
	.left {
		display: flex;
		align-items: center;
		gap: 1rem;
		width: 15%;

		.song-info p {
			font-size: 0.9rem;
			color: #707070;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		img {
			width: 3.5rem;
			aspect-ratio: 1;
			object-fit: cover;
			border-radius: 10px;
		}
	}
	.right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 15%;

		.volume-control {
			display: flex;
			align-items: center;
			gap: 0;
			justify-content: space-between;
		}
		#volume {
			width: 100px;
			position: relative;
			border-radius: 1.5rem;
		}
		#volume::after {
			content: "";
			width: var(--volume-before-width, 100px);
			height: 100%;
			background-color: #ff7f11;
			position: absolute;
			border-radius: 1.5rem;
		}
		#volume::-webkit-slider-thumb {
			display: var(--thumb-display, none);
		}
	}
}

#addToPlaylistDialog {
	width: 30%;
	height: max-content;

	.max-width {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 1rem;
	}
	.create-playlist {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 1rem;
		padding: 0.5rem;
		border-radius: 0.5rem;

		form {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		input {
			font-size: 1rem;
			padding: 0;
		}
	}
}

.create-playlist-btn,
.show-create-playlist-dialog-btn {
	background-color: #ff7f11;
	color: white;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: 1rem;
	outline: none;
	border: none;
	width: 100%;
}

.playlist-card {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem;
	cursor: pointer;
	gap: 1rem;
	border-radius: 0.5rem;
	width: 100%;

	&:hover {
		background-color: #ff80112a;
	}
	img {
		width: 3rem;
		height: 3rem;
		object-fit: cover;
		border-radius: 5px;
	}
	h3 {
		font-size: 1rem;
	}

	.playlist-title {
		font-size: 1rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.playlists {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.playlist-lists {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#createNewPlaylistDialog {
	width: 30%;
	height: max-content;
	padding: 2rem;

	.max-width {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 3rem;
	}

	form {
		display: grid;
		gap: 2.5rem;
		grid-template-areas:
			"name file"
			"description file"
			"submit submit";
		grid-template-columns: 1fr;
	}
	.form-group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		position: relative;
		border-bottom: 1.5px solid #a7a7a7;
		padding: 0.2rem 0;
	}
	/* use label as placeholder */
	label {
		position: absolute;
		color: #808080;
		transition: all 0.5s ease-in-out;
		top: 0.3rem;
		pointer-events: none;
	}
	input {
		font-size: 1rem;
		border: none;
		outline: none;
		border-radius: 5px;
		padding: 0rem 0.5rem;
	}
	/* //move label on focus */
	input:focus + label,
	input:not(:placeholder-shown) + label {
		top: -1.3rem;
		left: 0;
		font-size: 0.9rem;
		color: #ff7f11;
		background-color: white;
		font-weight: 700;
	}

	.form-group:has(input:focus) {
		border-bottom: 1.5px solid #ff7f11;
	}
	.custom-file-upload {
		grid-area: file;
		grid-row: 1 / span 2;

		&:hover {
			label {
				display: flex;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			pointer-events: none;
		}
		label {
			top: 0 !important;
			z-index: 9;
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.6) 0%,
				rgba(0, 0, 0, 0.6) 100%
			) !important;
			display: none;
			align-items: center;
			justify-content: center;
			color: white !important;
			text-align: center;
		}
	}
	button[type="submit"] {
		grid-area: submit;
		grid-column: 1 / span 2 !important;
	}
	.playlist-name {
		grid-area: name;
	}

	.playlist-description {
		grid-area: description;
	}
}
.max-reached,
.no-playlist {
	font-size: 1rem;
	color: #4e4e4e;
	font-weight: 500;
	text-align: center;
}
.song-count {
	font-size: 0.9rem;
	color: #707070;
	font-weight: 500;
}
