:root {
	--primary-color: #ff6a3a;
	--primary-color-100: #ff6b3a23;
	--primary-color-200: #ff6b3a47;
	--primary-color-300: #ff6b3a6b;
	--primary-color-400: #ff6b3a8f;
	--primary-color-500: #ff6a3a;
	--primary-color-600: #ff6b3ab4;
	--primary-color-700: #ff6b3ad8;
	--primary-color-800: #ff6b3afc;
	--primary-color-900: #ff6b3aff;
	--primary-color-1000: #ff6b3aff;
	--text-color: #000;
	--bg-color: #f5f5f5;
	--sidenav-width: 250px;
	--collapsed-sidenav-width: 80px;
}

.dark {
	--primary-color: #ff6a3a;
	--text-color: #fff;
	--bg-color: #333;
	--sidenav-width: 250px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nunito;
	outline: none;
	touch-action: none;
	/* outline: 1px dotted #212121 !important; */
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--text-color) !important;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;

	.logo-container {
		display: flex;
		align-items: center;
		cursor: pointer;

		img {
			width: 5rem;
		}

		h1 {
			font-size: 1.5rem;
			margin-left: 10px;
		}
	}

	ul {
		display: flex;
		list-style: none;
		gap: 1rem;

		li {
			margin-left: 20px;
			cursor: pointer;
		}

		a {
			text-decoration: none;
			color: var(--text-color);
		}
	}
}

button {
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: 1rem;
	outline: none;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;

	i {
		pointer-events: none;
	}
}

.primary-btn {
	background-color: var(--primary-color);
	color: white;
	border-radius: 5px;
}

.secondary-btn {
	border-radius: 5px;
	border: 2px solid var(--primary-color);
}

.login-signup {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-weight: 700;
}

.close-dialog-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 10px;
	cursor: pointer;
}

@keyframes dialogShow {
	from {
		transform: scale(0.5);
	}

	to {
		transform: scale(1);
	}
}

dialog {
	margin: auto;
	border: none;
	border-radius: 1rem;
	padding: 1rem;
	position: fixed;
	animation: dialogShow 0.2s ease;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

.input-field {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
	outline: none;
	display: flex;
	align-items: center;

	input {
		width: 100%;
		padding: 0.5rem 1rem;
		border: none;
		outline: none;
	}
}

.form-group:has(input[type="file"]) {
	border: none !important;
}

.custom-file-upload {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	width: 6rem;
	height: 6rem;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	position: relative;

	&:hover {
		label {
			display: flex;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;
	}

	label {
		top: 0 !important;
		z-index: 9;
		background: linear-gradient(0deg,
				rgba(0, 0, 0, 0.6) 0%,
				rgba(0, 0, 0, 0.6) 100%) !important;
		display: none;
		align-items: center;
		justify-content: center;
		color: white !important;
		text-align: center;
	}
}

.custom-file-upload label {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	pointer-events: all !important;
	height: 100%;
	width: 100%;
	top: 0 !important;
	left: 0 !important;
	background-color: transparent !important;
}

.custom-file-upload input[type="file"] {
	display: none;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: relative;
	border-bottom: 1.5px solid #a7a7a7;
	padding: 0.2rem 0;
}

label {
	position: absolute;
	color: #808080;
	transition: all 0.5s ease-in-out;
	top: 0.3rem;
	pointer-events: none;
}

input {
	font-size: 1rem;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0rem 0.5rem;
}

input:focus+label,
input:not(:placeholder-shown)+label {
	top: -1.3rem;
	left: 0;
	font-size: 0.9rem;
	color: var(--primary-color);
	background-color: white;
	font-weight: 700;
}

.form-group:has(input:focus) {
	border-bottom: 1.5px solid var(--primary-color);
}

.music-title,
.song-info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.alert-container {
	position: fixed;
	top: 5rem;
	right: 1rem;
	height: calc(100% - 5.5rem);
	width: 20rem;
	background-color: rgba(188, 143, 143, 0);
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 0.5rem;
}

.alert {
	background-color: #e486865d;
	color: #b93434;
	border: 1px solid #b93434;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	margin-bottom: 0.5rem;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: 5px;
	transition: all 1s ease;
	pointer-events: all;
	text-wrap: nowrap;
	overflow: hidden;
}

#loadingProgress {
	position: fixed;
	top: 7vh;
	left: 0;
	margin-left: 12vw;
	max-width: calc(100% - 12vw);
	height: 3px;
	background-color: var(--primary-color);
	transition: all 0.5s ease;
	border-radius: 2rem;
	z-index: 1;
	opacity: 1;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 6px;
	border-radius: 1rem;
	background: #d3d3d3;
	outline: none;
	transition: all 0.5s ease;
	padding: 0;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--primary-color);
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--primary-color);
	cursor: pointer;
}