:root {
	--primary-color: #ff6a3a;
	--primary-color-10: #ff6b3a05;
	--primary-color-50: #ff6b3a0d;
	--primary-color-100: #ff6b3a23;
	--primary-color-200: #ff6b3a47;
	--primary-color-300: #ff6b3a6b;
	--primary-color-400: #ff6b3a8f;
	--primary-color-500: #ff6a3a;
	--primary-color-600: #ff6b3ab4;
	--primary-color-700: #ff6b3ad8;
	--primary-color-800: #ff6b3afc;
	--primary-color-900: #ff6b3aff;
	--primary-color-1000: #ff6b3aff;
	--text-color: #333333;
	--text-color-light: #777777;
	--bg-color: #ffffff;
	--bg-color-10: #f8f8f8;
	--sidenav-width: 270px;
	--collapsed-sidenav-width: 80px;
	--button-color: #777777;
	--logo-image: url(../images/logo-title-side.svg);
	--button-bg-color: #ff6a3a;
	--card-hover-color: #ececec;
	--seekbar-color: #b9b9b9;
}

.dark {
	--primary-color: #ff6a3a;
	--text-color: #fff;
	--text-color-light: #bbbbbb;
	--bg-color: #333;
	--bg-color-10: #3d3d3d;
	--sidenav-width: 270px;
	--collapsed-sidenav-width: 80px;
	--button-color: #ffffff;
	--logo-image: url(../images/logo-title-side-dark.svg);
	--button-bg-color: #d33300;
	--card-hover-color: #525252;
	--seekbar-color: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nunito;
	outline: none;
	touch-action: none;
	/* outline: 1px dotted #212121 !important; */
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	height: calc(100vh - 4rem);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--text-color) !important;
	-webkit-box-shadow: 0 0 0px 1000px var(--bg-color-10) inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
}

h1,
p {
	color: var(--text-color);
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;

	.logo-container {
		display: flex;
		align-items: center;
		cursor: pointer;

		img {
			width: 5rem;
		}

		h1 {
			font-size: 1.5rem;
			margin-left: 10px;
		}
	}

	ul {
		display: flex;
		list-style: none;
		gap: 1rem;

		li {
			margin-left: 20px;
			cursor: pointer;
		}

		a {
			text-decoration: none;
			color: var(--text-color);
		}
	}
}

button {
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: 1rem;
	outline: none;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	gap: 0.3rem;
	color: var(--button-color);

	i {
		pointer-events: none;
	}
}

.primary-btn {
	background-color: var(--primary-color);
	color: white;
	border-radius: 5px;
}

.secondary-btn {
	border-radius: 5px;
	border: 2px solid var(--primary-color);
	background-color: transparent;
	color: var(--primary-color);

	p {
		color: var(--primary-color) !important;
	}
}

.login-signup {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-weight: 700;
}

.close-dialog-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	cursor: pointer;
}

@keyframes dialogShow {
	from {
		transform: scale(0.5);
	}

	to {
		transform: scale(1);
	}
}

dialog {
	margin: auto;
	border: none;
	border-radius: 1rem;
	padding: 1rem;
	position: fixed;
	animation: dialogShow 0.2s ease;
	background-color: var(--bg-color-10);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

dialog .max-width {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

}

.form-group {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	position: relative;
	width: 100%;
	border-bottom: 1.5px solid #a7a7a7;
	text-align: left;

	input {
		width: 100%;
		padding: 0.5rem 1rem;
		border: none;
		outline: none;
		background: none;
		color: var(--text-color);
		font-size: 1rem;
		cursor: text;
	}

	&:not(:has(input[type="file"])) {

		textarea {
			outline: none;
			border: none;
			border-radius: 1rem;
			font-size: 1rem;
			resize: none;
			width: 100%;
			padding: 0.5rem 1rem;
		}

		label {
			position: absolute;
			color: #808080;
			transition: all 0.5s ease-in-out;
			top: 0.3rem;
			left: 0.5rem;
			pointer-events: none;
			width: 100%;
			background: transparent !important;
		}

		&:has(textarea) {
			border: 1px solid #a7a7a7 !important;
			border-radius: 1rem !important;

			label {
				left: 0.6rem;
				top: 0.5rem;
			}
		}

		input:focus+label,
		input:not(:placeholder-shown)+label,
		textarea:focus+label,
		textarea:not(:placeholder-shown)+label {
			top: -1.3rem;
			left: 0;
			font-size: 0.95rem;
			color: var(--primary-color);
			background-color: var(--bg-color-10);
			font-weight: 700;
		}

		textarea:focus+label,
		textarea:not(:placeholder-shown)+label {
			top: -1.5rem;
		}

		&:has(input:focus) {
			border-bottom: 1.5px solid var(--primary-color);
		}

		&:has(textarea:focus) {
			border: 1px solid var(--primary-color) !important;
		}
	}
}

.form-group:has(input[type="file"]),
.form-group:has(#visibility) {
	border: none !important;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;

	.input-title {
		font-size: 1rem;
		color: var(--text-color);
		font-weight: bold;

		.optional {
			color: var(--text-color-light);
			font-weight: normal;
		}
	}
}


.custom-file-upload {
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: 5px;
	height: max-content;
	cursor: pointer;
	width: 100%;


	label {
		pointer-events: none;
		border: 1px solid var(--primary-color);
		padding: 0.5rem 1rem;
		border-radius: 1rem;
		cursor: pointer;
		color: var(--primary-color);
	}

	input[type="file"] {
		display: none;
	}
}

.custom-image-upload {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	width: 6rem;
	height: 6rem;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	position: relative;
	padding: 0%;
	background-size: cover;
	background-position: center;


	&:hover {
		label {
			display: flex;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;
	}

	label {
		top: 0 !important;
		z-index: 9;
		background: linear-gradient(0deg,
				rgba(0, 0, 0, 0.6) 0%,
				rgba(0, 0, 0, 0.6) 100%) !important;
		display: none;
		align-items: center;
		justify-content: center;
		color: white !important;
		text-align: center;
	}

	input[type="file"] {
		display: none;
	}

	label {
		padding: 0.5rem 1rem;
		border-radius: 5px;
		cursor: pointer;
		pointer-events: all !important;
		height: 100%;
		width: 100%;
		top: 0 !important;
		left: 0 !important;
		background-color: transparent !important;
	}
}

.custom-select {
	border: 1px solid #a8a8a8;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	height: max-content;
	position: relative;
	width: 100%;

	.select-display-container {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		width: 100%;
		color: var(--text-color-light);
	}

	.select-display {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		width: 100%;
		color: var(--text-color-light);
	}

	.select-options {
		display: flex;
		flex-direction: column;
		gap: 0;
		position: absolute;
		background-color: var(--bg-color-10);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		width: 100%;
		top: 2.7rem;
		left: 0;
		max-height: 0;
		transition: all 0.3s ease;
		overflow: hidden;

		&.show {
			max-height: 10rem;
			overflow: auto;
		}

		li {
			padding: 0.5rem 1rem;
			cursor: pointer;
			transition: all 0.3s ease;
			margin: 0;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--text-color-light);

			&:hover {
				background-color: var(--primary-color-100);
			}
		}

	}
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type="date"] {
	-webkit-appearance: none;
	appearance: none;
}






.toggle-password-visibility {
	padding: 0;
	right: 0;
	top: -0.2rem;

	iconify-icon {
		pointer-events: none;
	}
}

.music-title,
.song-info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 1rem;
	background: var(--seekbar-color);
	outline: none;
	transition: all 0.5s ease;
	padding: 0;
	cursor: pointer;
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--primary-color);
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--primary-color);
	cursor: pointer;
}

iconify-icon {
	font-size: 1.5rem;
}

hr {
	width: 100%;
}

.section-title {
	font-size: 1.2rem;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	gap: 1rem;
	color: var(--text-color);
}

.btn-container {
	display: flex;
	gap: 1.5rem;

	.add-to-playlist-btn {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
	}

	.start-play-music {
		border-radius: 2rem;
		gap: 0.5rem;
	}

}

.song-list-wrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;

	p {
		font-size: 1rem;
		color: var(--text-color-light);
	}
}

.song-list {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	position: relative;
	transition: all 0.3s ease;

	.start-play-music {
		color: var(--primary-color) !important;
	}

	.btn-container {
		gap: 0.1rem;

		button {
			padding: 0.3rem;
			color: var(--text-color-light);

			&:hover {
				color: var(--primary-color) !important;
			}
		}
	}



	&:hover {
		background-color: var(--primary-color-100);

		.start-play-music iconify-icon {
			font-size: 1.3rem !important;
		}

		img {

			filter: brightness(0.5);
		}

		.music-title {
			color: var(--primary-color) !important;
		}
	}


	img {
		width: 4rem;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
		aspect-ratio: 1/1;
		position: relative;
	}

	.song-info {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		width: 12rem;

		.music-title {
			font-size: 1.1rem;
			font-weight: 600;
			color: var(--text-color);
		}

		.artist-name {
			font-size: 0.95rem;
			color: var(--text-color-light);
		}
	}

	p {
		font-size: 0.9rem;
		color: var(--text-color-light);
	}

	.start-play-music {
		position: absolute;
		left: 0.4rem;
		transition: all 0.3s ease;
		color: var(--primary-color);
		width: 50px;
		height: 100%;

		iconify-icon {
			transition: all 0.3s ease;
			font-size: 0;
		}
	}


}

.song-card {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	width: 8rem;
	height: 100%;
	position: relative;

	iconify-icon {
		font-size: 0;
		transition: all 0.3s ease;
	}

	&:hover {

		img {
			filter: brightness(0.5);
		}

		iconify-icon {
			display: flex;
			font-size: 2rem;
		}

		.music-title {
			color: var(--primary-color) !important;
		}

		.song-info {
			background-color: var(--bg-color) !important;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
		aspect-ratio: 1/1;
		transition: all 0.3s ease;
	}

	.start-play-music {
		position: absolute;
		color: var(--primary-color) !important;
		width: 100%;
		height: calc(100% - 2rem);
	}

	.song-info {
		height: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.music-title {
			font-size: 1rem;
			font-weight: 600;
			color: var(--text-color);
			text-align: center;
			text-overflow: ellipsis;
		}
	}


}

.song-card-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: calc(100% - 5rem);
	height: 100%;
	position: relative;
	transition: all 0.5s ease;
	overflow-x: scroll;
	margin: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

}

.song-card-wrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
	width: max-content;
	height: 100%;
	overflow-x: scroll;
	flex-shrink: 0;
}

.songs-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	flex-wrap: nowrap;

	#nextInContainer,
	#prevInContainer {

		background-color: transparent;
		color: var(--primary-color);
		border: none;
		padding: 0.5rem;
		cursor: pointer;
		position: absolute;
		z-index: 1;
		top: 50%;
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		iconify-icon {
			font-size: 1.5rem;
		}

		&:hover {
			background-color: var(--primary-color-100);
		}

	}

	#nextInContainer {
		right: 0;
	}
}

.artist-card {
	img {
		border-radius: 50%;
	}
}

.error-container {
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	color: red;
	background-color: #f8d7da;
	padding: 0.5rem;
	border-radius: 5px;
	display: none;

	.error-text {
		color: red;
		font-size: 0.9rem;
	}
}


@keyframes slideIn {
	from {
		right: -100rem;
		display: none;
	}

	to {
		right: 1rem;
		display: flex;
	}
}

@keyframes slideOut {
	from {
		right: 1rem;
		display: flex;
	}

	to {
		right: -100rem;
		display: none;
	}
}

/* Alert container to hold all alerts */
.alert-container {
	position: fixed;
	top: calc(4rem + 1rem);
	right: 1rem;
	min-width: 18rem;
	z-index: 1000;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

/* Individual alert styles */
.alert {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	animation: slideIn 0.5s ease forwards, slideOut 0.5s ease 4.5s forwards;
	width: 100%;

	p {
		font-weight: bold;
	}
}


@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}

	to {
		opacity: 0;
		transform: translateX(100%);
	}
}