* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nunito;
	outline: none;
	touch-action: none;
	/* outline: 1px dotted red; */
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;

	.logo-container {
		display: flex;
		align-items: center;
		cursor: pointer;

		img {
			width: 5rem;
		}

		h1 {
			font-size: 1.5rem;
			margin-left: 10px;
		}
	}
	ul {
		display: flex;
		list-style: none;
		gap: 1rem;

		li {
			margin-left: 20px;
			cursor: pointer;
		}
		a {
			text-decoration: none;
			color: #000;
		}
	}
}
button {
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: 1rem;
	outline: none;
	background: none;
}

.login-signup {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-weight: 700;
}

#signupBtn {
	background-color: #ff7f11;
	color: white;
	border-radius: 5px;
}

#loginBtn {
	border-radius: 5px;
	border: 2px solid #ff7f11;
}
.close-dialog-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 10px;
	cursor: pointer;
}

dialog {
	margin: auto;
	border: none;
	border-radius: 1rem;
	padding: 1rem;
	position: relative;
}
.input-field {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	border: 1px solid #ff7f11;
	outline: none;
	display: flex;
	align-items: center;

	input {
		width: 100%;
		padding: 0.5rem 1rem;
		border: none;
		outline: none;
	}
}
